#tables {
    -fx-fill: grey;
    -fx-margin: 500;
}
.locked_manila {
    -fx-fill: red;
    -fx-opacity: 0.6;
}
.locked_warsaw {
    -fx-opacity: 0.6;
}
.unlocked {
    -fx-opacity: 1.0;
}
.turn_green {
    -fx-fill: #43b03a;
}
.white {
    -fx-color: white;
}
#pane {
    -fx-background-image: url("file:///C:/Users/Kacper/IdeaProjects/PJATK_SIMULATOR/pjatk-simulator/pjatk-simulator/src/img/office2.jpg");
    -fx-background-size: cover;
}
